<div class="row">
    <div class="card-header mx-auto text-center">
        <h1>Prospectos</h1>
    </div>
    <div class="container mt-3 ml-auto">
        <a href='prospectos/nuevo/'>
        <button  class="btn btn-success ">
            Agregar Prospecto
        </button>
        </a>
    </div>
    {{#each prospectos}}
    <div class="col-md-4 mt-3">
        <div class="card text-center">
            <div class="card-body mx-auto">
                <h3>{{nombres}}
                    {{apPat}}
                    {{apMat}}
                    <a href="/prospectos/info/{{_id}}"><i class="fas fa-eye"></i></a>
                </h3>
                <hr class="my-4">
                <label>Estatus: <span class="w3-tag w3-padding w3-round ">{{status}}</span></label>
                <hr class="my-4">
                <form action="/prospectos/borrar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger w-100 btn-sm">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="row">
        <hr class="my-4">
    </div>
</div>